<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pz.vocabulary.app" >

    <application
        android:allowBackup="true"
        android:name=".App_"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pz.vocabulary.app.MainActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".screens.WordDetailsActivity_"
            android:screenOrientation="portrait"
            >

        </activity>
        
        <activity android:name=".screens.QuizActivity_"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".screens.QuizResultsActivity_"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".screens.lists.WordsTwoTabsListActivity_"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".screens.lists.TopWordsActivity_"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity
            android:name=".screens.SettingsActivity_"
            android:screenOrientation="portrait"
            >

        </activity>
    </application>



</manifest>
